{% extends "base.html" %}

{% block title %}
Time Oracle | SoulMirror Tarot
{% endblock %}

{% block content %}

<section class="reading-page">

    <div class="reading-container">

        <!-- ========================= -->
        <!-- CARD -->
        <!-- ========================= -->

        <div class="reading-card-area">

            <img
                src="{{ url_for('static', filename='images/' + card.image) }}"
                id="readingCard"
                class="reading-card-image"
                alt="{{ card.name }}">

        </div>

        <!-- ========================= -->
        <!-- CONTENT -->
        <!-- ========================= -->

        <div class="reading-content">

            <span class="reading-badge">
                ⏳ Time Oracle Reading
            </span>

            <div class="user-question">

                <h3>
                    Your Question❓
                </h3>

                <p>
                    {{ question }}
                </p>

            </div>

            <h1 id="cardTitle">
                {{ card.name }}
            </h1>

            <!-- ========================= -->
            <!-- SHORT MESSAGE -->
            <!-- ========================= -->

            <div class="reading-section">

                <h2>
                    Oracle Message
                </h2>

                <p>

                    {{ card.message }}

                </p>

            </div>

            <!-- ========================= -->
            <!-- AI -->
            <!-- ========================= -->

            <div class="reading-section">

                <h2>
                    🤖 AI Timing Interpretation
                </h2>

                <div class="ai-reading">

                    {{ ai_reading | safe }}

                </div>

            </div>


            <!-- ========================= -->
            <!-- BUTTONS -->
            <!-- ========================= -->

            <div class="reading-buttons">

                <a
                    href="/time-oracle"
                    class="reading-btn">

                    Draw Again 🔄

                </a>

                <a
                    href="/"
                    class="reading-btn secondary">

                    🏠 Back Home

                </a>

            </div>

        </div>

    </div>

</section>
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/reading.css') }}">

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/time-reading.css') }}">
{% endblock %}